.env
.pythonlibs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
env/
.cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.vscode/
.idea/
*.log
*.db
*.sqlite
*.sqlite3
.DS_Store
